navbar-wrapper {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1920px;
        margin: 0 auto;
    }

    .our_title {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 52px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 191px;
        margin-left: 642px;
    }

    .nuqta{
        margin-top: 40px;
        margin-left: 800px;
    }

    .big_img{
        margin-top: 60px;
    }
}