@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url(../fonts/BarlowCondensed-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url(../fonts/BarlowCondensed-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url(../fonts/BarlowCondensed-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url(../fonts/BarlowCondensed-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url(../fonts/BarlowCondensed-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url(../fonts/BarlowCondensed-Bold.woff2);
    font-weight: 700;
}



